*.cab binary
*.content eol=lf
*.json eol=lf
*.doc binary
*.docx binary
*.gif binary
*.gpg binary
*.ico binary
*.jar binary
*.java eol=lf
*.jpg binary
*.mp4 binary
*.pdf binary
*.pem eol=lf
*.png binary
*.properties eol=lf
*.py eol=lf
*.repo eol=lf
*.sh eol=lf
*.svg binary
*.tgz binary
*.ttf binary
*.vm eol=lf
*.woff binary
*.xl binary
*.xls binary
*.xlsx binary
*.xml eol=lf
*.yml eol=lf
*.css eol=lf
*.scss eol=lf
*.csv eol=lf
*.conf eol=lf
crontab eol=lf
*.crontab eol=lf
*.sql eol=lf
*.htpasswd eol=lf
